<!-- The actual diff view -->
<div class="motion-text-with-diffs">
    <div *ngFor="let change of changes; let i = index">
        <div class="motion-text original-text line-numbers-outside"
             *ngIf="i === 0 || changes[i - 1].getLineTo() < change.getLineFrom()"
             [innerHTML]="getTextBetweenChanges(changes[i - 1], change)"></div>

        <div [class.collides]="hasCollissions(change)"
             class="diff-box diff-box-{{ change.id }} clearfix">
            <div class="collission-hint" *ngIf="hasCollissions(change)">
                <!-- @TODO Title should be a tooltip -->
                <i class="fa fa-warning" title="This change collides with another one."></i>
            </div>
            <div class="action-row">
                <ng-container *ngIf="admin">
                    <mat-button-toggle-group aria-label="Font Style"
                                             *ngIf="isRecommendation(change)"
                                             [value]="getAcceptanceValue(change)"
                                             (change)="setAcceptanceValue($event, change)">
                        <mat-button-toggle value="accepted" [disabled]="hasCollissions(change)">
                            <fa-icon icon="thumbs-up"></fa-icon>
                        </mat-button-toggle>
                        <mat-button-toggle value="rejected">
                            <fa-icon icon="thumbs-down"></fa-icon>
                        </mat-button-toggle>
                    </mat-button-toggle-group>

                    <button mat-icon-button *ngIf="isRecommendation(change)"
                            (click)="deleteChangeRecommendation(change, $event)">
                        <fa-icon icon="trash"></fa-icon>
                    </button>

                    <button mat-icon-button *ngIf="isRecommendation(change)"
                            (click)="editChangeRecommendation(change, $event)">
                        <fa-icon icon="pencil-alt"></fa-icon>
                    </button>
                </ng-container>

                <!--
                    <a ng-if="change.type == 'amendment'" ui-sref="motions.motion.detail({id: change.original.id})"
                       uib-tooltip="Open amendment"
                       class="btn btn-default btn-sm pull-right btn-amend-info">
                        <i class="fa fa-info"></i>
                        {{ change.original.identifier }}
                    </a>
                    -->
            </div>
            <div class="status-row" *ngIf="!admin && change.isRejected()">
                <i class="grey">Rejected:</i>
            </div>

            <div class="motion-text motion-text-diff line-numbers-outside"
                 [attr.data-change-id]="change.getChangeId()"
                 [innerHTML]="getDiff(change)"></div>
        </div>
    </div>

    <div class="motion-text original-text line-numbers-outside"
         [innerHTML]="getTextRemainderAfterLastChange()"></div>
</div>